<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic"><%= @latest_blog.title %></h1>
    <p class="lead my-3"><%= @latest_blog.body %></p>
    <p class="lead mb-0"><%= link_to 'Continue reading...', blog_path(@latest_blog.id), class: "text-white font-weight-bold" %></p>
  </div>
</div>

<div class="row mb-2">
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary"><%= @rails_latest_blog.topic.title %></strong>
        <h3 class="mb-0"><%= @rails_latest_blog.title %></h3>
        <div class="mb-1 text-muted">Published <%= distance_of_time_in_words(@rails_latest_blog.created_at, Time.now) %> ago</div>
        <p class="card-text mb-auto"><%= @rails_latest_blog.body %></p>
        <%= link_to 'Continue reading', blog_path(@rails_latest_blog.id), class: "stretched-link" %>
      </div>
      <div class="col-auto d-none d-lg-block">
        <p>INSERT THUMBNAIL HERE</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary"><%= @projects_latest_blog.topic.title %></strong>
        <h3 class="mb-0"><%= @projects_latest_blog.title %></h3>
        <div class="mb-1 text-muted">Published <%= distance_of_time_in_words(@projects_latest_blog.created_at, Time.now) %> ago</div>
        <p class="card-text mb-auto"><%= @projects_latest_blog.body %></p>
        <%= link_to 'Continue reading', blog_path(@projects_latest_blog.id), class: "stretched-link" %>
      </div>
      <div class="col-auto d-none d-lg-block">
        <p>INSERT THUMBNAIL HERE</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <main class="col-md-8 blog-main">
    <h3 class="pb-4 mb-4 font-italic border-bottom">
      From the Firehose
    </h3>
    <%= paginate @blogs %>
    <%= render @blogs %>
    <%= paginate @blogs %>

  </main><!-- /.blog-main -->

  <!-- Start of sidebar -->
  <%= render 'shared/blog_sidebar' %>
</div><!-- /.row -->