<div class="row">
  <main class="col-md-8 blog-post">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <%= content_tag :li, (link_to "Home", root_path), class: 'breadcrumb-item' %>
        <%= content_tag :li, (link_to @blog.topic.title, topic_path(@blog.topic.id)), class: 'breadcrumb-item' %>
        <%= content_tag :li, @blog.title, class: 'breadcrumb-item active' %>
      </ol>
    </nav>
    <%= render 'shared/admin_actions', blog: @blog %>

    
    <h3 class="pb-4 mb-4"><%= @blog.title %></h3>
    <p><%= @blog.topic.title %></p>
    <p><%= markdown @blog.body %></p>

    <%= render partial: 'comments/comment_form' %>

    <div id="comments" data-blog-id="<%= @blog.id %>">
      <%= render @blog.comments %>
    </div>
  </main>
  <%= render 'shared/blog_sidebar' %>
</div><!-- /.row -->
